

# Ignore all files in the dataset directory
dataset
dataset/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Jupyter
.ipynb_checkpoints

# Trained models
models/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Docker
*.tar

# IDE
.vscode/
.idea/